{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>Welcome to Your Meal Planner</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h4>Meal Plan for Today</h4>
                {% if today_meals %}
            <ul>
                {% for meal in today_meals %}
                    <li>
                        <a href="{% url 'recipe_detail' meal.recipe.id %}">
                            {{ meal.recipe.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No meals planned for today.</p>
        {% endif %}
        </div>
    </div>

{% endblock %}